#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";

        diode-direction = "col2row";

        col-gpios =
            <&gpio0 8 GPIO_ACTIVE_HIGH>,   // P0 / D0
            <&gpio0 6 GPIO_ACTIVE_HIGH>,   // P1 / D1
            <&gpio0 17 GPIO_ACTIVE_HIGH>,  // P2 / D2
            <&gpio0 20 GPIO_ACTIVE_HIGH>,  // P3 / D3
            <&gpio0 22 GPIO_ACTIVE_HIGH>,  // P4 / D4
            <&gpio0 24 GPIO_ACTIVE_HIGH>;  // P5 / D5

        row-gpios =
            <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, // P6 / D6
            <&gpio1 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, // P7 / D7
            <&gpio1 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, // P8 / D8
            <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; // P9 / D9
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";

        columns = <6>;
        rows = <4>;

        map = <
            RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)

            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)

            RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)

            RC(3,3) RC(3,4) RC(3,5)
        >;
    };
};